.item {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  box-sizing: border-box;
  border-left: 3px solid transparent;
}

.active {
  border-left: 3px solid var(--color-normal);
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
