@import './base.css';

#root {
  width: 100%;
  height: 100%;
}

.draggable {
  -webkit-app-select: none;
  -webkit-app-region: drag;
}

.nonDraggable {
  -webkit-app-region: no-drag;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--color-normal);
}

.contents {
  height: calc(100vh - var(--fallback-title-bar-height) - var(--status-height));
  display: flex;
}

.titlebar {
  height: var(--fallback-title-bar-height);
  width: 100%;
  background-color: var(--bg-titlebar);
  user-select: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.macApp .titlebar {
  padding-left: 72px;
}

.status {
  height: var(--status-height);
  line-height: var(--status-height);
  width: 100%;
  color: var(--color-light);
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}

.activity {
  position: relative;
  min-width: 58px;
  width: 58px;
  height: calc(100vh - var(--fallback-title-bar-height) - var(--status-height));
  background-color: var(--bg-activity);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  box-shadow: 1px 0 2px var(--border-normal);
}

.siderbar {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - var(--fallback-title-bar-height) - var(--status-height));
  background-color: var(--bg-siderbar);
  color: var(--color-normal);
}

.main {
  color: var(--color-normal);
}
